{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <nav class="navbar navbar-light" style="background-color: #034f84;">
      <a class="navbar-brand" href="#" style="color: #d5f4e6;">
        <!--<img src="#/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
        Bootstrap
      </a>
      <a href="#" class="btn btn-outline-primary my-2 my-sm-0">Login</a>
      <a href="#" class="btn btn-primary my-2 my-sm-0">Sign Up</a>

    </nav>
{% endblock %}