{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <nav class="navbar navbar-light" style="background-color: #034f84;">
      <a class="navbar-brand" href="#" style="color: #d5f4e6;">
        <!--<img src="#/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
        Bootstrap
      </a>
      {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}" class="btn btn-secondary my-2 my-sm-0">Log out</a>
      {% else %}
        <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary my-2 my-sm-0 align-right">Login</a>
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2 my-sm-0">Sign Up</a>
      {% endif %}
    </nav>
{% endblock %}

